@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* ----------------------------------------
Resets / Defaults / Common 
-------------------------------------------- */

button{
    all: initial;
    cursor: pointer;
    font: inherit;
}

html{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* https://uigradients.com/ */
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family:'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 110%;
}



/* ---------------------------------------
Special Elements 
------------------------------------------*/

/* Full Background Gif */
.giphy{
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: url(https://media.giphy.com/media/YS57N6teaevJASvcMA/giphy.gif) center center / cover no-repeat;
    opacity: 0.1;
}

/* Loader */
.loader {
    border: 16px solid #fff;
    border-top: 16px solid #000; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



/* -------------------------------------------------
Quote Area 
---------------------------------------------------- */

.quote_card{
    background-color: rgba(255, 255, 255, .5);
    min-width: 50%;
    max-width: 80%;
    padding: 2rem;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 5;
    /* overflow: hidden; */
}

.quote_card::before{
    content: '# ' attr(data-category);
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: .5rem 2rem;
}


/* --- Quote Main Content ---*/

.quote_main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    padding-bottom: 2rem;
    border: solid rgba(0, 0, 0, 0.7);
    border-width: 0px 0 2px 0px ;
    /* box-shadow: 1px 3px 6px lightgreen; */
    margin-bottom: 2rem;
}

.quote_quote{
    font-family: 'Dancing Script', cursive;
    font-size: 1.9rem;
}

/* .quote_quote::before,
.quote_quote::after{
    content: '\2033';
    font-size: 80%;
}

.quote_quote::before{
    margin-right: .5rem;
}

.quote_quote::after{
    margin-left: .5rem;
} */

.quote_author::before{
    content: '- ';
}


/* --- Quote Buttons --- */

/* new quote btn */
.quote_new-quote-btn{
    padding: .5rem;
    background-color: #000;
    color: #fff;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);
    display: block;
    width: 7rem;
    margin: 0 auto 2rem;
    text-align: center;
    outline: none;
    transition: all .1s;
    font-size: 1.3rem;
}

.quote_new-quote-btn:hover{
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
    outline: 2px solid lightgreen;
    outline-offset: .5rem;
}

.quote_card:has(.quote_new-quote-btn:hover) .quote_main-content{
    opacity: 0.2;
}


/* social media buttons */
.quote_buttons-container button:not(.quote_new-quote-btn) i{
    font-size: 2rem;
}

.quote_social-media-buttons-container{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.quote_social-media-buttons-container button:hover{
    filter: drop-shadow(0px 0px 10px lightgreen);
    transform: scale(1.1);
}



/* -------------------------------------------------
Media Queries
---------------------------------------------------- */

@media screen and (max-width: 1000px) {
    body{
        font-size: 100%;
    }

    .quote_card{
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100vw;
        min-height: 100vh;
        padding: 0.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .quote_main-content{
        padding: 0.2rem;
        padding-bottom: 1.5rem;
    }

    .quote_quote{
        font-size: 1.5rem;
        margin: 0.5rem;
    }

    .quote_social-media-buttons-container{
        justify-content: center;
        gap: 2rem;
        margin-top: 3rem;
    }
}

